:root{
  --bg:#ffbbbb ;
  --bg2: #cafcf7 ;
  --text: #260f0f ;
  --text-light: #351818 ;
  --primary: #870000 ;
  --secundary: #077000 ;
  --border-primary: #d93d3d ;
  --border-secundary: #37ab5c ;
  --accent: #efc005 ;
}

*{
  box-sizing: border-box;
}

html, body{
  height: 100%;
}

:focus{
  outline: none;
}
:focus-visible{
  outline: 2px solid var(--accent);
  outline-offset: 2px;
}

.app{
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}